body {
  background: #011B3A;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Alegreya&display=swap");

@keyframes dOtNsp {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.Series  > g > path {
  stroke: white !important;
}

.medium-link {
  max-width: 60%;
  margin-bottom: 5px;
}

.milestone-image {
  width: 30px;
  min-height:30px;
  min-width:30px;
}

.swal2-container {
  z-index: 10000000 !important;
}

.timeline-Widget {
  background-color: rgba(0,0,0,0.2) !important;
}